# Aproximación Polinomial con Mínimos Cuadrados
Ejercicio:

En la siguiente tabla se presentan los alargamientos de un resorte correspondiente a fuerzas de diferente magnitud que lo deforman. Determine por mínimos cuadrados el mejor polinomio de primer grado(recta) que represente la función dada.

In [4]:
# importamos las librerias necesarias
import pandas as pd
import numpy as np

In [5]:
x = np.array([0, 2, 3, 6, 7])
fx = np.array([0.12, 0.153, 0.17, 0.225, 0.26])

La tabla es la siguiente:

In [6]:
pd.DataFrame({'x':x ,'f(x)':fx})

   x   f(x)
0  0  0.120
1  2  0.153
2  3  0.170
3  6  0.225
4  7  0.260

Algunos cálculos:

In [7]:
n = x.shape[0] # número de datos de x
xx = x * x
xfx = x * fx

sx = np.sum(x)
sfx = np.sum(fx)
sxx = np.sum(xx)
sxfx = np.sum(xfx)

Construimos la siguiente tabla:

In [15]:
df = pd.DataFrame({'x':x ,'f(x)':fx,'x^2':xx ,'xf(x)':xfx})
df.loc['Suma'] = df.sum(axis = 0)
df

         x   f(x)   x^2  xf(x)
0      0.0  0.120   0.0  0.000
1      2.0  0.153   4.0  0.306
2      3.0  0.170   9.0  0.510
3      6.0  0.225  36.0  1.350
4      7.0  0.260  49.0  1.820
Suma  18.0  0.928  98.0  3.986

In [16]:
b = round((sfx * sxx - sx * sxfx) / (n * (sxx) - sx**2), 4)
m = round((n * sxfx - sfx * sx) / (n * (sxx) - sx**2), 4)

La polinomio que buscamos es:

In [12]:
print("p(x) = {} * x + {}".format(round(m,4),round(b,4)))

p(x) = 0.0194 * x + 0.1156