# Aproximación Multilineal con Mínimos Cuadrados

### Ejercicio:

A partir de un estudio experimental acerca de la estabilización de arcilla muy plástica, se observó que el contenido de agua para moldeo con densidad óptima dependía linealmente de los porcentajes de cal y puzolana mezclados con la arcilla. Se tuvieron así los resultados que se dan abajo. Ajuste una ecuación de la forma:

$$ y = a_0 + a_1u + a_2v$$

In [1]:
# importamos las librerias necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Latex as lt

In [8]:
y = np.array([27.5, 28, 28.8, 29.1, 30, 31, 32])
u = np.array([2, 3.5, 4.5, 2.5, 8.5, 10.5, 13.5])
v = np.array([18, 16.5, 10.5, 2.5, 9, 4.5, 1.5])

La tabla es la siguiente:

In [21]:
pd.DataFrame({"Agua (%): $y$":y ,'Cal (%): $u$':u,'Puzolana (%): $v$':v})

   Agua (%): $y$  Cal (%): $u$  Puzolana (%): $v$
0           27.5           2.0               18.0
1           28.0           3.5               16.5
2           28.8           4.5               10.5
3           29.1           2.5                2.5
4           30.0           8.5                9.0
5           31.0          10.5                4.5
6           32.0          13.5                1.5

#### Solución:

Algunos cálculos:

In [11]:
n = y.shape[0] # número de datos del agua
u2 = u * u
uv = u * v
v2 = v * v
uy = u * y
vy = v * y

su = np.sum(u)
sv = np.sum(v)
su2 = np.sum(u2)
suv = np.sum(uv)
sv2 = np.sum(v2)

sy = np.sum(y)
suy = np.sum(uy)
svy = np.sum(vy)

Construimos la siguiente tabla:

In [20]:
df = pd.DataFrame({'$u$':u ,'$v$':v,'$y$':y ,'$u^2$':u2 ,'$u*v$':uv ,'$v^2$':v2,'$u*y$':uy, '$v*y$':vy})
df.loc['Suma'] = df.sum(axis = 0)
df

       $u$   $v$    $y$   $u^2$   $u*v$   $v^2$    $u*y$    $v*y$
0      2.0  18.0   27.5    4.00   36.00  324.00    55.00   495.00
1      3.5  16.5   28.0   12.25   57.75  272.25    98.00   462.00
2      4.5  10.5   28.8   20.25   47.25  110.25   129.60   302.40
3      2.5   2.5   29.1    6.25    6.25    6.25    72.75    72.75
4      8.5   9.0   30.0   72.25   76.50   81.00   255.00   270.00
5     10.5   4.5   31.0  110.25   47.25   20.25   325.50   139.50
6     13.5   1.5   32.0  182.25   20.25    2.25   432.00    48.00
Suma  45.0  62.5  206.4  407.50  291.25  816.25  1367.85  1789.65

In [13]:
Coef = np.matrix([[n, su, sv], [su, su2, suv], [sv, suv, sv2]])
Ter_i = np.matrix([[sy], [suy], [svy]])

Sol = Coef**-1 * Ter_i
a2 = Sol[2,0]
a1 = Sol[1,0]
a0 = Sol[0,0]

De donde obtenemos:

In [15]:
lt(r"$a_0: %s \\a_1: %s \\a_2: %s $" %(round(a0,3),round(a1,3),round(a2,3)))

Al sustituir estos valores se tiene:

In [17]:
lt(r"$y = %s + %s \hspace{0.1cm}u + %s \hspace{0.1cm}v$" %(round(a0,3),round(a1,3),round(a2,3)))