<h2>Integración de Romberg - Extrapolación de Richardson</h2>

<h4>Ejercicio</h4>

Integre numericamente la siguiente ecuación:
$$f(x)=0.2+25x-200x^2+675x^3-900x^4+400x^5$$

desde $a = 0$ hasta $b = 0.8$. con $10$ intervalos.

<h4>Solución:</h4>

Ecuación del Romberg:

$$I_k^{(m)}=\frac{4^mI_{k+1}^{m-1}-I_k^{m-1}}{4^m-1}$$

In [50]:
import pandas as pd # librería para mostrar tablas
import copy

In [96]:
# Iniciamos variables:
a = 0.0 # Límite inferior
b = 0.8 # Límite superior
n = [1, 2, 4, 8, 12] # Número de subintervalos
f = lambda x: 0.2 + 25 * x - 200 * x ** 2 + 675 * x ** 3 - 900 * x ** 4 + 400 * x ** 5 # Ecuación a integrar

Cálculo de Integrales según el número de subintervalos:

In [97]:
Il = [] # Lista donde se almacenarán las integrales
a1 = a
b1 = b
for i in n:
    k = (b1 - a1) / i  # Tamaño de subintervalo    
    I = 0
    for j in range(i): 
        I = I + k * (f(a1) + f(a1 + k)) / 2 # Ecuación del Trapecio (se puede utilizar otras ecuaciones como la de Simpson) 	
        a1 += k
    Il.append(I)
    a1 = a
    b1 = b

Tabla de Integrales:

In [98]:
pd.DataFrame({"n°":n, "$I_0$":Il})

   n°     $I_0$
0   1  0.172800
1   2  1.068800
2   4  1.484800
3   8  1.600800
4  12  1.622808

Extrapolación de Richardson:

In [99]:
ne = len(Il)  
LL = {"n°":n,"$I_0$":Il}
for i in range(1, ne):
    Irl = []    
    ne = len(Il)
    for j in range(ne - 1):
        Ir = (4 ** i * Il[j + 1] - Il[j]) / (4 ** i - 1)
        Irl.append(Ir)
    LI = copy.copy(Irl)
    for k in range(i):
        LI.append("")
    LL['$I_' + str(i) + '$'] = LI    
    Il = Irl

Tabla de Resultados de la extrapolación:

In [100]:
pd.DataFrame(LL)

   n°     $I_0$    $I_1$    $I_2$    $I_3$   $I_4$
0   1  0.172800  1.36747  1.64053  1.64053  1.6293
1   2  1.068800  1.62347  1.64053  1.62935
2   4  1.484800  1.63947  1.62952
3   8  1.600800  1.63014
4  12  1.622808

Resultado:

In [101]:
print("I = %.4f"%Il[0])

I = 1.6293