## Método de Euler
#### Ejercicio:

Con el método de Euler integre numéricamente la ecuación:

$$\frac{dy}{dx} = -2x^3 +12x^2 - 20x + 8.5$$

desde $x = 0$ hasta $x = 4$ con un tamaño de paso $0.5$. La condición inicial en $x = 0$ es $y = 1$.

#### Solución:

In [9]:
# Librerías necesarias
import pandas as pd
from IPython.display import display, Math

In [4]:
# Iniciamos variables
x0 = 0.0		# Condicion inicial
y0 = 1.0		# Condicion inicial
x1 = 4.0		

k = 0.5      # Tamaño de paso
n = int(abs(x1 - x0)/k)	# Número de intervalos
eq = lambda x, y: - 2 * x ** 3 + 12 * x ** 2 - 20 * x + 8.5       # Ecuación

Iteramos:

In [5]:
tbl = dict()
paso = [0]
y_ = [y0]
for i in range(n):
    y0 = y0 + k * eq(x0 + k * i, y0)
    y_.append(y0)
    paso.append(k*(i+1))
	
tbl['$x$'] = paso
tbl['$y_{euler}$'] = y_

#### Resultados:

In [7]:
format_d={'$x$':'{:.2f}','$y_{euler}$':'{:.4f}'}
df = pd.DataFrame(tbl).style.set_caption("<h4>Tabla de Resultados<h4>").format(format_d)
df

De donde obtenemos:

In [11]:
display(Math(r"$y(%s) = %s$" %(x1, y0)))