## Método de Runge-Kutta 5to orden - Butcher
#### Ejercicio:

Resuelva el siguiente problemas de valor inicial:

$$\frac{dy}{dx} = -2x^3 + 12x^2 - 20x+8.5$$

mediante el método de Runge-Kutta de 5to orden con: $y(0) = 1,\; y(4) = ? $

#### Solución:

In [1]:
# Librerías necesarias
import pandas as pd
from IPython.display import Math, display

In [6]:
# Iniciamos variables
x0 = 0.0		# Condición inicial
y0 = 1.0		# Condición inicial
x1 = 4.0		

k = 0.5      # Tamaño de paso
n = int(abs(x1 - x0)/k)	# Número de intervalos
f = lambda x, y: -2 * x ** 3 + 12 * x ** 2 - 20 * x + 8.5       # Ecuación

Uilizaremos las siguientes ecuaciones:

$$y_{i+1}=y_i + \frac{1}{90}(7k_1+32k_3+12k_4+32k_5+7k_6)k$$
donde:
$$k_1 = f(x_i,y_i)$$
$$k_2 = f(x_i + \frac{1}{4}k,y_i + \frac{1}{4}k_1k)$$
$$k_3 = f(x_i + \frac{1}{4}k,y_i + \frac{1}{8}k_1k + \frac{1}{8}k_2k)$$
$$k_4 = f(x_i + \frac{1}{2}k,y_i - \frac{1}{2}k_2k + k_3k)$$
$$k_5 = f(x_i + \frac{3}{4}k,y_i + \frac{3}{16}k_1k + \frac{9}{16}k_4k)$$

$$k_6 = f(x_i + k, y_i - \frac{3}{7}k_1k + \frac{2}{7}k_2k + \frac{12}{7}k_3k - \frac{12}{7}k_4k + \frac{8}{7}k_5k)$$

Iteramos:

In [7]:
tbl = dict()
paso = [0]
y_ = [y0]
for i in range(n):
    k1 = f(x0 + k * i, y0)
    k2 = f(x0 + k * i + k / 4, y0 + k1 * k / 4)
    k3 = f(x0 + k * i + k / 4, y0 + k1 * k / 8 + k2 * k / 8)
    k4 = f(x0 + k * i + k / 2, y0 - k2 * k / 2 + k3 * k)
    k5 = f(x0 + k * i + 3 * k / 4, y0 + 3 * k1 * k / 16 + 9 * k4 * k / 16)
    k6 = f(x0 + k * i + k, y0 - 3 * k1 * k / 7 + 2 * k2 * k / 7 + 12 * k3 * k / 7 - 12 * k4 * k / 7 + 8 * k5 * k / 7)
    
    y0 = y0 + k * (7 * k1 + 32 * k3 + 12 * k4 + 32 * k5 + 7 * k6) / 90
    y_.append(y0)
    paso.append(k*(i+1))
	
tbl['$x$'] = paso
tbl['$y_{rk5}$'] = y_

#### Resultados:

In [8]:
format_d={'$x$':'{:.2f}','$y_{rk5}$':'{:.4f}'}
df = pd.DataFrame(tbl).style.set_caption("<h4>Tabla de Resultados<h4>").format(format_d)
df

Al realizar el procedimiento se llega a:

In [9]:
display(Math(r"$y_{%s} = y(%s) = %.4f$" %(len(y_) - 1 ,x1,y0)))