## Sistemas de EDO usando el método de Runge-Kutta de 4to orden
#### Ejercicio:

Resuelva el siguiente problema de valor inicial:

$$y'' = - \frac{1}{x}y'+(\frac{1}{x^2}-1)y$$

mediante el método de Runge-Kutta de 4to orden con: $y(1) = 1,y'(1) = 2,\; y(3) = ? $

#### Solución:

In [4]:
# Librerías necesarias
import pandas as pd
from IPython.display import Math, display

Escribiendo la EDO como un sistema de ecuaciones, el PVI queda:

$$PVI\left
\{
\begin{array}{rcl}
     y' & = & z \\
   z' & = & -\frac{1}{x}z + (\frac{1}{x^2}-1)y \\
   y(1) & = & 1 \\
   z(1) & = & 2 \\
   y(3) & = & ?
\end{array}
\right.
$$

In [33]:
# Iniciamos variables
x0 = 1.0		# Condición inicial
y0 = 1.0		# Condición inicial
z0 = 2

x1 = 3.0		

k = 0.25      # Tamaño de paso
n = int(abs(x1 - x0)/k)	# Número de intervalos

f1 = lambda x, y, z: z         # Ecuación y'
f2 = lambda x, y, z: -z / x + (1 / x ** 2 - 1) * y       # Ecuación z'

Uilizaremos las siguientes ecuaciones:

$$\begin{array}{rcl}
y_{i+1}&=&y_i + \frac{1}{6}(k_1+2k_2+2k_3+k_4)k \\
z_{i+1}&=&z_i + \frac{1}{6}(c_1+2c_2+2c_3+c_4)k
\end{array}
$$
donde:
$$\begin{array}{rcl}
k_1 & = & f_1(x_i,y_i) \\
k_2 & = & f_1(x_i + \frac{1}{2}k,y_i + \frac{1}{2}k_1k) \\
k_3 & = & f_1(x_i + \frac{1}{2}k,y_i + \frac{1}{2}k_2k) \\
k_4 & = & f_1(x_i+k,y_i+k_3k)
\end{array}$$
y
$$\begin{array}{rcl}
c_1 & = & f_2(x_i,y_i) \\
c_2 & = & f_2(x_i + \frac{1}{2}k,y_i + \frac{1}{2}c_1k) \\
c_3 & = & f_2(x_i + \frac{1}{2}k,y_i + \frac{1}{2}c_2k) \\
c_4 & = & f_2(x_i+k,y_i+c_3k)
\end{array}$$

Iteramos:

In [34]:
tbl = dict()
x_ = [x0]
y_ = [y0]
z_ = [z0]

for i in range(n):    
    k1 = f1(x0, y0, z0)
    c1 = f2(x0, y0, z0)

    k2 = f1(x0 + k / 2, y0 + k1 / 2 * k, z0 + c1 * k / 2)
    c2 = f2(x0 + k / 2, y0 + k1 / 2 * k, z0 + c1 * k / 2)  
        
    k3 = f1(x0 + k / 2, y0 + k2 / 2 * k, z0 + c2 * k / 2)
    c3 = f2(x0 + k / 2, y0 + k2 / 2 * k, z0 + c2 * k / 2)
    
    k4 = f1(x0 + k, y0 + k3 * k, z0 + c3 * k)
    c4 = f2(x0 + k, y0 + k3 * k, z0 + c3 * k)
        
    x0 = x0 + k
    y0 = y0 + k * (k1 + 2 * k2 + 2 * k3 + k4) / 6
    z0 = z0 + k * (c1 + 2 * c2 + 2 * c3 + c4) / 6
    
    
    y_.append(y0)
    z_.append(z0)
    x_.append(x0)
	
tbl['$x$'] = x_
tbl['$y_{rk4}$'] = y_
tbl['$z_{rk4}$'] = z_

#### Resultados:

In [35]:
format_d={'$x$':'{:.2f}','$y_{rk4}$':'{:.4f}', '$z_{rk4}$':'{:.4f}'}
df = pd.DataFrame(tbl).style.set_caption("<h4>Tabla de Resultados<h4>").format(format_d)
df

El valor buscado es:

In [36]:
display(Math(r"$y_{%s} = y(%s) = %.4f$" %(len(y_) - 1 ,x1,y0)))